.magnify-footer{
    height:60px;
}
.magnify-button{
    width: 60px;
    height: 60px;
    font-size: 26px;
}
.magnify-header .magnify-button{
    width: 100px;
    height: 100px;
}
.magnify-button-close i{
    font-size: 50px;
}
.magnify-title{
    font-size: 40px;
}