/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.p-review .hd {
  font-size: 18px;
  color: #fff;
  background-color: #212b38;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.p-review .bd {
  background-color: #f0f2f5;
  padding: 20px 0;
  font-size: 14px;
}
.p-review .bd .container {
  border: 1px solid #dedddd;
  border-bottom: none;
  background-color: #fff;
  width: 962px;
  margin: 0 auto;
}
.p-review .bd .section {
  border-bottom: 1px solid #dedddd;
  overflow: hidden;
}
.p-review .bd .section .wrapper {
  width: 562px;
  margin: 0 auto;
}
.p-review .bd .section ul.info li {
  overflow: hidden;
  font-size: 14px;
  line-height: 34px;
}
.p-review .bd .section ul.info dl,
.p-review .bd .section ul.info dt,
.p-review .bd .section ul.info dd {
  float: left;
}
.p-review .bd .section ul.info dl {
  padding-right: 30px;
}
.p-review .bd .section table {
  width: 100%;
}
.p-review .bd .section tbody {
  border-bottom: 1px solid #ccc;
}
.p-review .bd .section tbody:nth-last-of-type(1) {
  border-bottom: none;
}
.p-review .bd .section td:nth-of-type(2) {
  padding-left: 10px;
}
.p-review .bd .section p {
  padding-top: 10px;
  line-height: 54px;
}
.p-review .bd .section textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.p-review .bd .section .content {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 200px;
  overflow-y: scroll;
}
.p-review .bd .section .time {
  text-align: right;
  color: #999999;
}
.p-review .bd .section .mediaList {
  overflow: hidden;
}
.p-review .bd .section .mediaList li {
  width: 258px;
}
.p-review .bd .section .mediaList li:nth-of-type(2n+1) {
  float: left;
}
.p-review .bd .section .mediaList li:nth-of-type(2n) {
  float: right;
}
.p-review .bd .section .mediaList dl {
  overflow: hidden;
  padding-right: 0;
}
.p-review .bd .section .mediaList dt {
  padding-top: 10px;
  line-height: 60px;
  font-size: 14px;
}
.p-review .bd .section .mediaList img {
  border-radius: 5px;
  overflow: hidden;
}
.p-review .bd .section .mediaList .last {
  width: 100%;
}
.p-review .bd .section .mediaList .last dd {
  overflow: hidden;
}
.p-review .bd .section .mediaList .last dd img:nth-of-type(2n+1) {
  float: left;
}
.p-review .bd .section .mediaList .last dd img:nth-of-type(2n) {
  float: right;
}
.p-review .bd .section .item {
  margin-top: 20px;
  margin-bottom: 30px;
}
.p-review .bd .section .item .item-hd {
  padding-bottom: 20px;
}
.p-review .bd .section .item .list td {
  padding: 10px;
}
.p-review .bd .section .item .list tr:nth-of-type(2) {
  color: #999999;
  font-size: 12px;
}
.p-review .bd .section .item .list tr:nth-of-type(2) td {
  padding-top: 0;
}
.p-review .bd .section .form td {
  padding-bottom: 20px;
}
.p-review .bd .section .form label {
  margin-right: 10px;
}
.p-review .bd .section .baiduMap {
  width: 100%;
  height: 390px;
  border: 1px solid #dedddd;
}
.p-review .bd .section:nth-of-type(1) {
  padding: 17px 0;
}
.p-review .bd .section:nth-of-type(2) {
  padding-bottom: 30px;
}
.p-review .bd .section:nth-of-type(2) .info {
  padding: 20px 0;
}
.p-review .bd .section:nth-of-type(3) {
  padding-top: 20px;
}
.p-review .bd .section:nth-of-type(4) .info {
  color: #999;
}
